.slider-container {
  display: flex;
  align-items: center;
  margin: 40px 0;
  position: relative;
}

.slider-container label {
  flex: 1;
  margin-right: 10px;
  font-size: 20px;
}

.slider-container input[type="range"] {
  flex: 2;
  margin-right: 10px;
  -webkit-appearance: none; 
  margin: 15px;
  width: 300px;
  height: 20px;
  background: #ddd; 
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: -25px; /* Position above the slider */
  width: 100%;
  font-size: 14px; /* Adjust font size as needed */
}

.slider-container input[type="range"]:hover {
  opacity: 1;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 40px;
  height: 40px;
  background: #4CAF50; /* Thumb color */
  cursor: pointer;
  border-radius: 50%;
}

.slider-container input[type="range"]::-moz-range-thumb {
  width: 0px;
  height: 20px;
  background: #4CAF50; /* Thumb color */
  cursor: pointer;
  border-radius: 50%;
}

.slider-container span {
  width: 40px;
  height: 20px;
  text-align: center;
}

.slider-category {
  font-size: 20px; /* Larger text */
  padding: 20px;; 
}