/* Home.css */

/** Color Variables 
--jet: #34343Eff;
--sage: #C3C399ff;
--jet-2: #35363Eff;
--reseda-green: #737E69ff;
--onyx: #393943ff; **/

/** Color Variables
--dark-moss-green: rgb(105, 106, 55);
--lion: rgb(163, 144, 101);
--paynes-gray: rgb(93, 114, 115);
--field-drab: rgb(83, 75, 12);
--dark-goldenrod: rgb(180, 139, 0); **/

/* Ensure html and body take up the full height */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Example font */
}

/* Apply background to the entire application */
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff; /* Example text color */
  background-image: url('../images/hiking.jpg'); /* Adjust the path as needed */

}

/* Ensure home-container takes up the full height */
.home-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: 200px;
}

.preference {
  background-color: rgba(51, 51, 51, 0.5); /* 50% opacity */
  padding: 100px;
  border-radius: 10px;
  max-height: 500px;
}

.preferences-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.preference, .categories {
  flex: 1;
  margin: 20px;
  padding: 70px;
  background-color: rgba(51, 51, 51, 0.5); /* 50% opacity */
  border-radius: 10px;
  max-height: 500px;
  overflow: auto; /* Add this line to make the div scrollable */
}


/* Custom scrollbar styles for WebKit browsers */
.preference::-webkit-scrollbar, 
.categories::-webkit-scrollbar,
.actions-container::-webkit-scrollbar,
.recommendations-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.preference::-webkit-scrollbar-track, 
.categories::-webkit-scrollbar-track,
.actions-container::-webkit-scrollbar-track,
.recommendations-container::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Track color */
  border-radius: 10px;
}

.preference::-webkit-scrollbar-thumb, 
.categories::-webkit-scrollbar-thumb,
.actions-container::-webkit-scrollbar-thumb,
.recommendations-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Thumb color */
  border-radius: 10px;
}

.preference::-webkit-scrollbar-thumb:hover, 
.categories::-webkit-scrollbar-thumb:hover,
actions-container::-webkit-scrollbar-thumb:hover,
.recommendations-container::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.7); /* Thumb color on hover */
}

/* Custom scrollbar styles for Firefox */
.preference, .categories {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1); /* Thumb and track color */
}
 
.links {
  margin-top: 20px;
  font-size: 20px;
}

.links a {
  color: #a8e6cf; /* Example color from the palette */
  text-decoration: none;
  margin: 0 10px;
  padding: 10px 20px;
  border: 2px solid #a8e6cf; /* Example color from the palette */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.links a:hover {
  background-color: #B48B00ff; /* Example color from the palette */
  color: #000000; /* Example color from the palette */
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
}

.search-container input {
  margin-top: 10%;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.search-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.search-container button:hover {
  background-color: #575757;
}

.search-container ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: 20px;
}

.search-container ul li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}


.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.categories label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px; /* Larger text */
  font-weight: bold; /* Bolder font */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 5px; /* Add padding for better click area */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth background color and text color transition */
}

.categories label:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Background color on hover */
}

.categories input[type="checkbox"] {
  display: none;
}

.categories input[type="checkbox"] + label::before {
  content: ''; /* Empty content for the pseudo-element */
  display: inline-block;
  width: 40px; /* Width of the custom checkbox */
  height: 20px; /* Height of the custom checkbox */
  margin-right: 10px; /* Space between the checkbox and the label text */
  border: 0px solid #4CAF50; /* Border color for the custom checkbox */
  border-radius: 3px; /* Rounded corners */
  background-color: transparent; /* Initial background color */
  transition: background-color 0.3s; /* Smooth background color transition */
}

.categories input[type="checkbox"]:checked + label::before {
  background-color: #4CAF50; /* Background color for selected */
}

.login-button {
  background-color: rgb(180, 139, 0); 
  box-shadow:rgba(51, 51, 51, 0.5);
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline-block */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 12px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.login-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.logout-button {
  background-color: rgb(83, 75, 12); 
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline-block */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Some margin */
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 12px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.logout-button:hover {
  background-color: rgb(106, 95, 16); /* Darker red on hover */
}

.preferences-button {
  background-color: rgb(180, 139, 0); 
  box-shadow:rgba(51, 51, 51, 0.5);
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline-block */
  font-size: 16px; /* Increase font size */
  margin: 4px; /* Some margin */
  margin-left: 150px;
  cursor: pointer; /* Pointer/hand icon */
  border-radius: 12px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.preferences-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.recommendations-container {
  justify-content: space-between;
  max-height: 650px;
  background-color: rgba(51, 51, 51, 0.5); /* 50% opacity */
  border-radius: 10px;
  padding: 150px;
  overflow: auto; /* scrollable */
  justify-content: center;
}


.recommendations-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.recommendations-container, .actions-container {
  flex: 1;
  padding: 80px;
  max-height: 600px;
  margin-right: 20px;
}

.actions-container {
  justify-content: space-between;
  max-height: 650px;
  background-color: rgba(51, 51, 51, 0.5); /* 50% opacity */
  border-radius: 10px;
  overflow: auto; /* scrollable */
  justify-content: center;
  max-width: 200px;
  max-height: 600px;
}

.accept-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.accept-button:hover {
  background-color: #45a049;
}

.reject-button {
  background-color: rgb(83, 75, 12, 0.5);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.reject-button:hover {
  background-color: #d32f2f;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
}

.no-bullets li {
  margin-bottom: 10px; /* Optional: Add some space between list items */
}

.key-button {
  font-size: 20px;
  background-color:rgba(214, 214, 214, 0.5);
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
